# **MANIPULAÇÃO DE STRINGS**

## Outros métodos para se trabalhar com Stings
https://www.w3schools.com/python/python_strings_methods.asp

In [ ]:
frase = "hello world"
frase = frase.replace("hello", "Olá,")
print(frase)

frase2 = frase.replace("world", "mundo")
print(frase2)

Olá, world
Olá, mundo

# EXERCÍCIOS

In [ ]:
# 1 - Use o método len para imprimir o comprimento da string.

x = "Hello World"
print(len(x))

11

In [ ]:
# 2 - Obtenha o primeiro caractere da string txt.

txt = "Hello World"
print(txt[0])

H

In [ ]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).

txt = "Hello World"
txt[2:5]

'llo'

In [ ]:
# 4 - Converta o valor de txt para maiúsculas.

txt = "Hello World"
txt.upper()

'HELLO WORLD'

In [ ]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo

txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count('de')

3

In [ ]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula

txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.split(",")

['Eu gosto de vijar',
 ' tomar vinho',
 ' de estudar estudar programação',
 ' de estudar Pyhon']

In [ ]:
#7 - Peça ao usuário uma frase e substitua todas as ocorrências de espaço por “#”.

txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.replace(" ", "#")

'Eu#gosto#de#vijar,#tomar#vinho,#de#estudar#estudar#programação,#de#estudar#Pyhon'

In [ ]:
# 8 - Faça um programa que retorne True se duas strings lidas do teclado são palíndromas mútuas, ou seja, se uma é igual à outra quando lida de traz para frente ou False, se não forem.
# Por exemplo: amor e roma

frase1 = input("Digite uma palavra: ")
frase2 = input("Digite uma palavra: ")
if frase1 == frase2[::-1]:
    print("True")
else:
    print("False")

Digite uma palavra: ARARA
Digite uma palavra: ARARA
True

In [ ]:
# 9- Faça um programa que leia o nome do usuário e mostre o nome de traz para frente, utilizando somente letras maiúsculas.

nome = input("Digite seu nome: ")
nome = nome.upper()
nome = nome[::-1]
print(nome)

Digite seu nome: MURILO
OLIRUM

# **PA LISTAS, TUPLAS E DICIONARIOS**

# **Exercícios**
##Exercício 1: Manipulação de Listas

- Defina uma lista com 5 nomes de cidades.
- Adicione uma nova cidade ao final da lista.
- Remova a segunda cidade da lista.
- Imprima a lista resultante.

In [ ]:
cidades = ["São Paulo", "Ribeirão Pires", "Mauá", "Santo André", "Rio Grande da Serra"]
print(cidades)

['São Paulo', 'Ribeirão Pires', 'Mauá', 'Santo André', 'Rio Grande da Serra']

In [ ]:
cidades.append("Rio de Janeiro")
print(cidades)  # Saída: ["São Paulo", "Ribeirão Pires", "Mauá", "Santo André", "Rio Grande da Serra", "Rio de Janeiro"]

['São Paulo', 'Ribeirão Pires', 'Mauá', 'Santo André', 'Rio Grande da Serra', 'Rio de Janeiro']

In [ ]:
cidades.remove("Ribeirão Pires")
print(cidades)  # Saída: ["São Paulo", "Mauá", "Santo André", "Rio Grande da Serra", "Rio de Janeiro"]

['São Paulo', 'Mauá', 'Santo André', 'Rio Grande da Serra', 'Rio de Janeiro']

##Exercício 2: Operações com Tuplas

- Defina uma tupla com 4 cores.
- Crie uma nova tupla que seja a concatenação da tupla original com outra contendo mais 2 cores.
- Imprima a nova tupla.

In [ ]:
cores = ("Azul", "Amarelo", "Vermelho", "Verde")
print(cores)

('Azul', 'Amarelo', 'Vermelho', 'Verde')

In [ ]:
novas_cores = cores + ("Preto", "Roxo")

In [ ]:
novas_cores

('Azul', 'Amarelo', 'Vermelho', 'Verde', 'Preto', 'Roxo')

##Exercício 3: Dicionários Simples

Crie um dicionário para representar um aluno, contendo "nome", "idade" e "curso".
- Atualize a idade do aluno.
- Adicione uma nova chave "nota" com um valor.
- Imprima o dicionário atualizado

In [ ]:
aluno = {

    "nome": "Murilo",
    "idade": 15,
    "curso": "Técnico em Infómatica para Internet",
}

In [ ]:
aluno

{'nome': 'Murilo', 'idade': 15, 'curso': 'Técnico em Infómatica para Internet'}

In [ ]:
print(estudante["idade"])  # Saída: 15

16

In [ ]:
aluno["idade"] = 16
print(aluno)  # Saída: {"nome": "Murilo", "idade": 16, "curso": "Técnico em Infómatica para Internet"}

{'nome': 'Murilo', 'idade': 16, 'curso': 'Técnico em Infómatica para Internet'}

In [ ]:
aluno["nota"] = "10"
print(aluno)  # Saída: {"nome": "Murilo", "idade": 16, "curso": "Técnico em Infómatica para Internet", "nota": "10"}

{'nome': 'Murilo', 'idade': 16, 'curso': 'Técnico em Infómatica para Internet', 'cidade': 'São Paulo', 'nota': '10'}

In [ ]:
aluno

{'nome': 'Murilo',
 'idade': 16,
 'curso': 'Técnico em Infómatica para Internet',
 'cidade': 'São Paulo',
 'nota': '10'}

##Exercício 4: Listas e Dicionários

- Crie uma lista de dicionários, onde cada dicionário representa um produto com as chaves "nome" e "preço".
- Adicione um novo produto à lista.
- Atualize o preço do primeiro produto na lista.
- Imprima a lista resultante.

In [ ]:
dicionario = [{"nome": "Pizza", "preço": 50}]
print(dicionario)

dicionario.append({"nome": "Hambúguer", "preço": 20})

dicionario[0]["preço"] = 45
print(dicionario)

[{'nome': 'Pizza', 'preço': 50}]
[{'nome': 'Pizza', 'preço': 45}, {'nome': 'Hambúguer', 'preço': 20}]

##Exercício 5: Analisando uma Lista de Tuplas

- Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
- Encontre e imprima o nome da pessoa mais velha.
- Encontre e imprima a idade média das pessoas.

In [ ]:
pessoas = [
    ("Nome:", "Murilo", "Idade:", 15),
    ("Nome:", "Vinicius", "Idade", 25)
]

velha = pessoas[1]
for pessoa in pessoas:
  if pessoa[3] > velha[3]:
    velha = pessoa

print(velha)
soma = 0
for pessoa in pessoas:
  soma += pessoa[3]
  media = soma/len(pessoas)
print(soma/len(pessoas))

('Nome:', 'Vinicius', 'Idade', 25)
20.0

## 6. Soma dos Elementos da Lista
Dada uma lista de números, calcule a soma de todos os elementos.

In [ ]:
# Seu código aqui...
lista = [1, 2, 3, 4, 5]
sum(lista)

15

## 7. Produto dos elementos da lista
Dada uma lista de números, calcule o produto de todos os elementos.

In [ ]:
# Seu código aqui...
lista2 = [1, 2, 3, 4, 5]
reduce(multiplicar, lista2)

120

## 8. Encontre o menor elemento
Dada uma lista de números, encontre o menor elemento.

In [ ]:
# Seu código aqui...
lista3 = [1, 2, 3, 4, 5]
min(lista3)

1

## 9. Encontre o maior elemento
Dada uma lista de números, encontre o maior elemento.

In [ ]:
# Seu código aqui...
lista4 = [1, 2, 3, 4, 5]
max(lista4)

5

## 10. Contar Ocorrências de um Elemento
Dada uma lista de números e um número alvo, conte quantas vezes o alvo aparece na lista.

In [ ]:
# Seu código aqui...
lista5 = [1, 2, 3, 4, 3, 2, 1]
alvo = 3
contagem = lista5.count(alvo)
print(f"O número {alvo} aparece {contagem} vezes na lista.")

O número 3 aparece 2 vezes na lista.

## 11. Remover duplicatas
Dada uma lista de números, crie uma nova lista sem elementos duplicados.

In [ ]:
# Seu código aqui...
lista6 = [1, 2, 2, 3, 4, 4, 5]
set(lista6)

{1, 2, 3, 4, 5}

## 12. Inverter uma lista
Dada uma lista de números, inverta a ordem dos elementos.

In [ ]:
# Seu código aqui...
lista7 = [1, 2, 3, 4, 5]
lista7.reverse()
print(lista7)

[5, 4, 3, 2, 1]

## 13. Intercalar Duas Listas
Dadas duas listas de números, crie uma nova lista intercalando os elementos das duas listas.

In [ ]:
# Seu código aqui...
lista81 = [1, 3, 5]
lista82 = [2, 4, 6]
lista_intercalada = [item for pair in zip(lista81, lista82) for item in pair]

In [ ]:
lista_intercalada

[1, 2, 3, 4, 5, 6]

## 14. Somar Elementos Correspondentes de Duas Listas
Dadas duas listas de números de mesmo tamanho, crie uma nova lista com a soma dos elementos correspondentes.

In [ ]:
# Seu código aqui...
lista91 = [1, 2, 3]
lista92 = [4, 5, 6]
soma_listas = [x + y for x, y in zip(lista91, lista92)]

print(soma_listas)

[5, 7, 9]

## 15. Mover Zeros para o Fim
Dada uma lista de números, mova todos os zeros para o final da lista.

In [ ]:
# Seu código aqui...
lista = [0, 1, 0, 3, 12]
sem_zeros = [num for num in lista if num != 0]
quantidade_zeros = lista.count(0)
lista_final = sem_zeros + [0] * quantidade_zeros

print(lista_final)

[1, 3, 12, 0, 0]

# **CÓPIA DE EXERCÍCIOS JUNTOS**

Lista de Exercícios unindo tudo que foi ensinado até o momento:


*   Condicionais
*   Laços de Reptição
*   Listas
*   Tuplas
*   Dicionários
*   Manipulação de Strings

# Tuplas - Acesso e Desempacotamento

1) Crie uma tupla contendo três tipos diferentes de dados: um número, uma string e uma lista. Use um laço de repetição para acessar e imprimir cada item da tupla. Além disso, dentro do laço, acesse e imprima o segundo item da lista que está dentro da tupla.

In [ ]:
dados = (24, "Cíntia",[1,2,3])

for i in dados:
  print(i)

24
Cíntia
[1, 2, 3]

tuple

# Dicionários - Criação e Acesso
## Cadastro de Pessoas e Análise de Alturas
2) Solicite ao usuário para inserir o nome e a altura de várias pessoas. Preencha um dicionário com essas informações e depois encontre e imprima o nome e a altura da pessoa mais alta e da mais baixa.

In [ ]:
pessoas = {
    "Murilo": 1.50,
    "Vinicius": 2.05,
    "Leonardo": 1.40
}
pessoa_mais_alta = max(pessoas, key=pessoas.get)
pessoa_mais_baixa = min(pessoas, key=pessoas.get)

print(f'A pessoa mais alta é {pessoa_mais_alta} com {pessoas[pessoa_mais_alta]:.2f} metros.')
print(f'A pessoa mais baixa é {pessoa_mais_baixa} com {pessoas[pessoa_mais_baixa]:.2f} metros.')

A pessoa mais alta é Vinicius com 2.05 metros.
A pessoa mais baixa é Leonardo com 1.40 metros.

# Lista, laços e Condicionais
3) Descrição: Crie uma lista com cinco números inteiros. Use um laço de repetição e uma condicional para imprimir apenas os números que são múltiplos de 3.

In [ ]:
numeros = [10, 15, 22, 9, 33]

for numero in numeros:
    if numero % 3 == 0:
        print(numero)

15
9
33

# Manipulação de Strings e Condicionais
4) Descrição: Crie uma string com uma frase. Use uma condicional para verificar se a frase contém a palavra "Python". Se sim, substitua a palavra "Python" por "programação" e imprima a nova frase.

In [ ]:
frase = "Eu faço códigos em Python"
if "Python" in frase:
    nova_frase = frase.replace("Python", "programação")
    print(nova_frase)
else:
    print("A palavra 'Python' não foi encontrada na frase.")

Eu faço códigos em programação

# Simulação de Alfândega com Cadastro Dinâmico de Itens usando dicionário
5) Simule uma situação de alfândega onde o funcionário cadastra itens novos encontrados na mala de uma pessoa que veio de uma viagem internacional. Após o cadastro de todos os itens, o programa imprime uma nota com todos os itens e seus preços, calcula o valor total e, se o valor total ultrapassar 500 dólares, calcula o valor de 60% a ser pago.

In [ ]:
# Função para cadastrar itens
def cadastrar_itens():
    itens = []

    while True:
        nome = input("Nome do item (ou 'sair' para finalizar): ")
        if nome.lower() == 'sair':
            break
        preco = float(input(f"Preço do item '{nome}': "))
        itens.append({"nome": nome, "preco": preco})

    return itens

# Função para calcular o valor total e gerar a nota
def gerar_nota(itens):
    print("\n--- Nota Fiscal ---")
    valor_total = 0
    for item in itens:
        print(f"{item['nome']} - ${item['preco']:.2f}")
        valor_total += item['preco']

    print(f"\nValor total: ${valor_total:.2f}")
    return valor_total

# Função para calcular o imposto se o valor ultrapassar 500 dólares
def calcular_imposto(valor_total):
    limite_isencao = 500.00
    if valor_total > limite_isencao:
        excedente = valor_total - limite_isencao
        imposto = excedente * 0.60
        print(f"\nValor excedente: ${excedente:.2f}")
        print(f"Imposto a ser pago (60%): ${imposto:.2f}")
    else:
        print("\nNenhum imposto a ser pago. Valor dentro do limite de isenção.")

# Programa principal
def main():
    print("### Cadastro de Itens na Alfândega ###")
    itens = cadastrar_itens()
    valor_total = gerar_nota(itens)
    calcular_imposto(valor_total)

# Executa o programa
if __name__ == "__main__":
    main()

### Cadastro de Itens na Alfândega ###
Nome do item (ou 'sair' para finalizar): sair

--- Nota Fiscal ---

Valor total: $0.00

Nenhum imposto a ser pago. Valor dentro do limite de isenção.

# Identificação de Palavras Negativas em um Texto
6) Você vai criar um programa em Python para analisar um texto e identificar palavras que expressam pensamentos negativos. Para isso, você usará uma lista de palavras negativas fornecida e verificará quais dessas palavras estão presentes no texto fornecido pelo usuário. Exemplo de palavras negativas, acrescente mais na lista: # Lista de palavras negativas palavras_negativas = ['triste', 'deprimido', 'ansioso', 'desapontado', 'frustrado']

In [ ]:
palavras_negativas = ['triste', 'deprimido', 'ansioso', 'desapontado', 'frustrado']

texto = input("Digite um texto para análise: ")

# Convertendo o texto para minúsculas e dividindo-o em palavras
palavras_texto = texto.lower().split()

# Verificando se alguma palavra negativa está presente no texto
palavras_encontradas = [palavra for palavra in palavras_negativas if palavra in palavras_texto]

# Imprimindo as palavras negativas encontradas, se houver
if palavras_encontradas:
    print("Palavras negativas encontradas no texto:", ', '.join(palavras_encontradas))
else:
    print("Nenhuma palavra negativa foi encontrada no texto.")

Digite um texto para análise: Estou muito triste e ansioso por causa da prova
Palavras negativas encontradas no texto: triste, ansioso